<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>06-24</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>  
</head>
<!-- 이벤트 버스 객체 -->
<script type="text/javascript">

var eventBus = new Vue();
</script>
<!-- 첫번째 자식 컴포넌트 시작-->
<template id="chidl1Template">
    <div>
    	<input type="text" v-model="product"/>
        <button v-on:click="clickEvent">구매</button>
        <div>현재구매한 물건 : {{product}}</div>
    </div>
</template>
<script type="text/javascript">
/* 
ex) 이벤트 버스 연습..
	구매 물품 :[   ][구매]
	현재 구매한 물건 : @@@@
	------------------
	구매list
	@@@
	@@
	@@@


 */
Vue.component('child1-component', {
    template : '#chidl1Template',
    data : function() {
        return { product : '' };
    },
    methods : {
        clickEvent : function() {
        	// eventbus에 'buy'라는 이름으로 이벤트와 이벤트시 설정된 값을 전달..
            eventBus.$emit('buy', this.product);
            
        }
    }
});
</script>
<!-- 첫번째 자식 컴포넌트 끝-->
<!-- 두번째 자식 컴포넌트 시작-->
<template id="chidl2Template">
    <ul>
        <li v-for="prod in prodlist">{{prod}}</li>
    </ul>
</template>
<script type="text/javascript">
Vue.component('child2-component', {
    template : '#chidl2Template',
    data : function() {
        return { 
            prodlist : []
        };
    },
    created : function() {
    	// 이벤트 버스에 받은 이벤트와 이를 통해서 처리할 메서드 선언..
        eventBus.$on('buy', this.addProduct);
    },
    methods : {
        addProduct : function(product) {
        	// product 기본 데이터를 넘겨 받아서 model에 list 추가 처리..
            this.prodlist.push(product);
        }
    }
});
</script>
<!-- 두번째 자식 컴포넌트 끝-->
<body>
    <div id="app">
        <child1-component></child1-component>
        <hr />
        <child2-component></child2-component>
    </div>
</body>
<script type="text/javascript">
Vue.config.devtools = true;
var vm = new Vue({
    el : "#app"
})
</script>
</html>